@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Sacramento);

body{
	font-family: 'Roboto',sans-serif, Sacramento
}

h1,h2,h3,h4{
	font-family: 'Pacifico', cursive;
}

.header{
	width: 100%;
	height: 600px;
	background: url('../media/Red-BG.jpg') no-repeat;
	background-size: cover;
	padding-top: 20px;
}

.header.inside{
	height: auto;
}

/**page header**/

.page-title {
	color: #fff;
	padding: 30px 0 20px 0;
}

.logo-top{
	border:1px solid #000;
	border-left: none;
	border-right: none;
	font-size: 14px;
	height: 70px;
	line-height: 70px;
	color: #fff;
	font-weight: 700;
}

.logo{
	text-align: center;
}
.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-white {
	color: #fff;
}

.text-dark{
	color: #585858;
}

/*** reservations***/

.reservations{
	color:#FFF;
}
.reservations:hover,.reservations:active,.reservations:focus,.reservations:visited{
	text-decoration: none;
	color: #fff
}

/***Nutrition Cal***/

table {
	border: none;
}

.table-red{
	background-color: #d51c09;
	color:#fff;
	border: none;
	padding: 10px;
}

.nutrition-table thead tr{
	height: 200px;
	border: none;
}

.nutrition-table thead th{
	transform: rotate(-90deg);
    border: none;
    white-space: nowrap;
    max-width: 10px;
    text-align: left;
}

.nutrition-table tbody td:not(.table-red){
	padding: 30px 10px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #eee;
}
.nutrition-table tbody td:nth-child(even){
	background: #ddd;
}

.nutrition-table tr.active td:nth-child(odd) {
    background: #eee;
}

.nutrition-table tbody td:not(.table-red):first-child{
	font-weight: bold;
	text-align: left;
}


.nutrition-table tbody tr:last-child td{
	background: #eee;
}

.nutrition-table td i{
	margin-right: 10px;
}

.nutrition-table tbody td:not(.table-red):first-child:hover{
	cursor: pointer;
}

/*** contact us ***/
.sushihouse {
	font-family: Sacramento;
	font-size: 36px;
}
.address{
	font-size: 18px;
	color: #d6b54e;
}
.call{
	color: #6b6b6b;
	font-size: 18px;
}

/*** images ***/
.gallery-img{
	max-width: 100%;
}

.gallery-item{
	margin-bottom: 50px;
	text-align: center;
}

.content{
	padding:50px 0 ;
}

.item-name{
	font-size: 16px;
	text-align: center;
}


/*****modal*****/

.modal{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.8);
	overflow: auto;
	display: none;
}
.modal-content{
	background: #fff;
	max-width: 767px;
	margin: 80px auto;
	position: relative;
}

.modal-open{
	overflow: hidden;
}

.section-title{
	background: #d51c09;
	padding: 10px 25px;
	font-family: "Roboto",sans-serif;
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
	margin:0px;
}

.section-content{
	padding: 15px 25px;
}

.del-method{
	padding: 0;
}

.delivery{
	list-style: none;
	padding: 0;
	margin:0;
}

.delivery .del-title{
    font-family: 'Roboto',sans-serif;
    margin: 0px;
    color: #6b6b6b; 

}

.remove-order:hover{
	cursor: pointer;
	text-decoration: underline;
}

#del-add{
	display: none;
}

.delivery a {
	color: #6b6b6b;
	text-decoration: none;
}

.delivery li a{
	padding:15px 25px;
	display: block;
}

.delivery li.active {
background: #eee;
}

span.close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    background: #fff;
    text-align: center;
    font-weight: bold;
    line-height: 30px;
    font-size: 20px;
    right: -15px;
    top: -15px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

span.close:hover{
	cursor: pointer;
}


/****navigation****/

.navbar{
	margin-top: 40px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 3px 0px;
}
.nav-container{
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

nav {
    width: 100%;
    font-size: 14px; 
    font-weight: 700;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav > ul > li {
    list-style: none;
    float: left;
    text-align: center;
    border-left: 1px solid #fff;
    width: 20%; /* fallback for non-calc() browsers */
    width: calc(100% / 5);
    box-sizing: border-box;
    position: relative;
}

nav > ul > li:hover .dropdown{
	display: block;
}
.dropdown{
	position: absolute;
    width: 100%;
    background: #fff;
    list-style: none;
    z-index: 10;
    text-align: left;
    display: none;
    font-size: 12px;
}

.dropdown li{
	padding: 0 20px;
	position: relative;
}
.dropdown a{
	color:#000;
}

.dropdown li:hover{
	background: #000
}
.dropdown li:hover a{
	color: #fff;
	text-decoration:none;
}

nav ul li:last-child {
        border-right: 1px solid #fff;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 15px 0;
    text-transform: uppercase;
}

nav > ul > li:hover, nav > ul > li.active{
	background: #fff;
}

nav > ul > li:hover a,nav > ul > li.active a{
	color: #111;
	text-decoration: none;
}


/************carousel*******/

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

#carousel{
	position: absolute;
    left: 0;
    right: 0;
}

.carousel{
	height: 450px;
	margin-top: 40px;
	width: 100%;
}

/*********main content*******/

.main-content {
	background: url('../media/White-BG.png');
	background-size: 50%;
	padding: 100px 0px;
}

.wrapper{
	background: #fff;
	padding: 30px 15px;
}
.specials {
	margin-top: 80px;
}

.item{
	margin-bottom: 30px;
	position: relative;
}
.item:hover .overlay{
	opacity: 1;
}

.specials img {
	max-width: 180px;
	float: left;
	margin-right: 20px;
}

.menu-title{
	font-size: 20px;
	color: #6d6d6d; 
}

.menu-desc{
	font-size: 14px;
	color: #787878;
}

.menu-price{
	font-size: 24px;
	color: #ae974e;
	font-weight: 700;
}



/***history***/

.history p{
	white-space: pre-line;
}

.types-of-sushi {
	padding-top: 50px;
}


/***Accolades***/

.write-review{
	border: 2px solid #6d6d6d;
	padding: 50px 15px;
	margin-top: 100px;
	position: relative;
}

.review-title{
	font-family: "Roboto";
    text-transform: uppercase;
    font-size: 20px;
    background: #fff;
    text-align: center;
    width: 250px;
    margin: auto;
    position: absolute;
    top: -14px;
    left: 0;
    right: 0;
}
form{   
 max-width: 767px;
    margin: auto;
}

.form-group{
	margin-bottom: 20px;
}
.form-control{
    width: 100%;
    padding: 10px;
}

.form-control:not('textarea') {
	height: 40px;
}

textarea{
	resize:vertical;
}

/***food&appetizers***/

.food-name{
	font-size: 18px;
	color: #6d6d6d;
	font-family: roboto;
}

.food-item {
	height: 150px;
	position: relative;
}

.food-item:hover .overlay{
	opacity: 1;
}

.food-description{
	display: inline-block;
    max-width: 350px;
}

.food-price{
	margin: 15px 10px 0 0;
    font-size: 24px;
    color: #ae974e;
    font-weight: 700;
    display: inline-block;
    float: right;
    line-height: 24px;
}

.overlay{
	position: absolute;
    background: rgba(0,0,0,0.8);
    width: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    transition:0.3s ease;
}


.btn{
	text-align: center;
    border: 2px solid #ae974e;
    color: #ae974e;
    text-transform: uppercase;
    display: inline-block;
    width: 160px;
    margin: auto;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    background: none;
}

.btn.order{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.btn:hover{
	text-decoration: none;
	background: #ae974e;
	color: #fff;
}

.btn-modal{
	margin-left: 25px;
	background: #ae974e;
	color: #fff;
}

.btn-modal:hover{
	background: #9A843E;
	border-color: #9A843E;
}

.form-btn{
	margin-top: 50px;
}

.order-price{
	font-size: 18px;
    color: #ae974e;
    font-weight: 400;
}

.tax-price{
	font-size: 18px;
    color: #6b6b6b;
    font-weight: 400;
}

.total-price{
	font-size: 18px;
    color: #d51c09;
    font-weight: 400;
}

.order-tbl td, .order-tbl th{
	padding:5px;
	text-align: left;
}
.order-tbl thead th:first-child{
	width: 50px;
}


/***Our Chefs***/

.chef-img{
	display: table-cell;
}

.chef-content{
	display: table-cell;
    vertical-align: top;
    padding-left: 20px;
}

.chef-item{
	margin-bottom: 30px;
}
.chef-name{
	margin-top: 0;
}

.chef-position {
	font-style: italic;
}


/****foodicons***/   

.mild,.hot{
	margin-left: 10px;
	width: 15px;
	height: 24px;
	display: inline-block;
	background-size: 100%;
}

.mild{
	background: url('../media/foodicons/Fire_1.png')
}


.hot{
	background: url('../media/foodicons/Fire_2.png')
}


/***footer***/

.footer {
	background: #171717;
	padding: 50px;
	color: #fff;
	border-top: 5px solid #d51c09;

} 

.footer-header{
	font-size: 18px;
	font-weight: 400;
	display: block;
	margin-bottom: 15px;
}

.footer-content{
	font-weight: lighter;

}


.ico{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: white;
	color: #171717;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	display: inline-block;
	margin-right: 15px;
}

.copyright{
	background: #252525;
	padding: 10px 0px;
	color: #fff;
	font-size: 12px;
	font-weight: 100;
}
.left{
	float: left;
}

.right{
	float: right;
}

.mbl-btn{
	display: none;
}

.mbl-logo{
	text-align: center;
}

.mbl-logo img{
	width: 250px;
}

.mbl-menu,.mbl-order{
	font-size: 30px;
	color: #fff;
}

.mbl-menu{
	float: left;
	margin-left: 15px;
}

.mbl-order{
	float: right;
	margin-right: 15px
}

.mobile-display{
	display:none;
}


.big-screen-display{
	display: block;
}

.new-mobile-menu{
    margin-left: 15px;
    font-size: 30px;
    color: white;
    
}

.new-mobile-nav{
	background: transparent !important;
	border:0px !important;
}

.new-mobile-nav-width{
	width:200px;
}

.subm{
	padding-left:40px !important;
}

@media(max-width:991px){
	.food-description{
		max-width: 250px;
	}
}

@media(max-width: 767px){
	.menu{
		text-align: center;
	}
	.menu-desc {
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	}
	.food-item .overlay,.item .overlay{
		display: none;
	}
	.food-item{
		height: auto;
	}
	.mbl-btn{
		display: block;
	}

	.mobile-display{
		display:block;
	}

	.big-screen-display{
		display: none
	}


	.header{
		height: 400px;
	}
	.logo-top,.navbar{
		display: none;
	}
	.footer{
		text-align: center;
	}
	.footer .col-md-4{
		margin-bottom: 25px;
	}
}

@media(max-width:500px){
	.food-description{
		display: block;
		max-width: none;
	}
	.food-price{
		display: block;
		float: none;
		text-align: right;
		margin-right: 0;
	}

	.chef-img{
		display: block;
		text-align: center;
	}

	.chef-content{
		display: block;
	    padding-left: 0;
	}

	.chef-item{
		margin-bottom: 80px;
	}
	.chef-name{
		margin-top: 15px;
		text-align: center;
	}
	.chef-position{
		text-align: center;
	}



.bx-wrapper .bx-viewport{
	width: 100%;
    overflow: hidden ;
    position: relative;
    height: 400px ;
    border: 0px ;
    left: 0 ;
}

.bxslider{
	margin: 0;
	padding: 0;
}

.bx-viewport li{
	width: 100%
}

.bx-wrapper .bx-caption{
	height: 50px;
	background-color: rgba(0,0,0,0.8);
}
.bx-wrapper .bx-caption span{
	font-family: 'Pacifico';
	font-size: 20px;
}

.resp-menu{
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.8);
}